@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #e3cf18;
    --text-dark: #276b85;
    --text-light: #71717a;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Lora", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sec-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.sec-header {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
}

.sec-subheader {
    color: var(--text-light);
}

.btn {
    padding: .75em 2rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--text-light);
    border-radius: 5rem;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: var(--text-dark);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
        url("assets/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--white);
}

.logo i {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: var(--header-font);
    color: var(--white);
}

.navlinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    position: relative;
    padding: 10px 0;
    color: var(--white);
    transition: 0.3s;
}

.link a::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: var(--white);
    transition: 0.3s;
}

.link a:hover::after {
    width: 100%;
}

.nav-menu-btn {
    display: none;
    font-size: 1.5rem;
    color: var(--white);
}

.nav-action {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.nav-action span {
    font-size: 1.2rem;
    color: var(--white);
    cursor: pointer;
}

.header-container {
    text-align: center;
    color: var(--white);
  }
  
  .header-container h1 {
    margin-bottom: 1rem;
    font-size: 4.5rem;
    font-weight: 600;
    font-family: var(--header-font);
  }
  
  .header-container p {
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 4rem;
    font-size: 1.2rem;
  }
  
  .header-container form {
    width: 100%;
    max-width: 350px;
    margin-inline: auto;
    margin-bottom: 4rem;
    padding-block: 0.25rem;
    padding-inline: 1.25rem 0.25rem;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    border: 1px solid var(--white);
    border-radius: 5rem;
  }
  
  .header-container input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: transparent;
  }
  
  .header-container input::placeholder {
    color: var(--white);
  }
  
  .header-container button {
    padding: 11px 12px;
    font-size: 1.25rem;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--text-light);
    border-radius: 100%;
    cursor: pointer;
  }
  
  .header-container a {
    display: inline-block;
    padding: 0 12px;
    font-size: 3rem;
    color: var(--white);
    backdrop-filter: blur(10px);
    border: 1px solid var(--white);
    border-radius: 100%;
  }
  
  .choose-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    align-items: center;
  }
  
  .grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }
  
  .icon span {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 5px 10px;
    font-size: 1.25rem;
    background-color: #cad8d8;
    border-radius: 100%;
  }
  
  .icon h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--primary-color);
  }
  
  .icon p {
    color: var(--text-light);
  }
  
  .image img {
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .offer-container {
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  
  .offer-grid-top, .offer-grid-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1rem;
  }
  
  .offer-grid-top, .offer-grid-bottom {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .offer-content {
    text-align: center;
    margin-bottom: 20px;
  }

  .offer-content .sec-header {
    margin-bottom: 1px;
    font-size: 2.5rem;
    color: var(--text-dark);
    font-weight: 700;
  }
  
  .offer-content .sec-subheader {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: var(--text-light);
  }
  
  .craft-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
  }
  
  .craft-container .sec-subheader {
    margin-bottom: 2rem;
  }
  
  .image1 {
    position: relative;
    isolation: isolate;
  }
  
  .image1::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: var(--text-dark);
    border-radius: 7px;
    transition: 0.3s;
    z-index: -1;
  }
  
  .image1:hover::before {
    height: 80%;
  }
  
  .craft-image-content {
    padding-bottom: 1rem;
    text-align: center;
    transition: 0.3s;
  }
  
  .craft-image-content img {
    margin-bottom: 1rem;
    max-width: 250px;
    margin: auto;
  }
  
  .craft-image-content p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
  }
  
  .craft-image-content h4 {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--primary-color);
  }
  
  .image1:hover .craft-image-content {
    transform: translateY(-2rem);
  }
  
  .image1 a {
    position: absolute;
    left: 50%;
    bottom: 2px;
    transform: translate(-50%, 50%);
    padding: 0 7px;
    font-size: 1.75rem;
    color: var(--white);
    background-color: var(--text-light);
    border-radius: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: 0.3s;
  }
  
  .image1:hover a {
    opacity: 1;
  }

  .blog-container .sec-header {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .blog-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .blog-card img {
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .blog-card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--text-dark);
  }
  
  .blog-card p {
    font-weight: 500;
    color: var(--text-light);
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .footer {
    background-color: var(--text-dark);
  }
  
  .foot-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
    border-bottom: 1px solid var(--white);
  }
  
  .foot-content h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: var(--black);
  }
  
  .foot-content p {
    color: var(--white);
  }
  
  .footer-form form {
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
    border-radius: 10px;
  }
  
  .footer-form input {
    width: 100%;
    padding: 0 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
  }
  
  .footer-form button {
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: var(--white);
    background-color: var(--text-light);
    border-radius: 5px;
  }
  
  .foot-bar {
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .foot-logo h4 a {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--black);
  }
  
  .foot-logo p {
    margin-top: 5px;
    font-size: 0.8rem;
    color: var(--white);
  }
  
  .foot-nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .footer-link a {
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
  }